/* this is for the main title h1 of the page*/

.hero {
    background: #83b2d0;
    padding: 2rem 2rem;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .hero h1 {
    font-size: 1.5em /* Font size for mobile devices */
  }
}

/* Media query for tablets and larger screens */
@media (min-width: 768px) {
  .hero h1 {
    font-size: 2.5em; /* Font size for tablets and larger screens */
  }
}

/* now for the main container */

.container {
    padding: 0 10px;
}

